
.glyphicon-heart {
  color: red;
  top:3px;
}
.image {
  display: block;
  width: 100%;
  height: 280px;
}


#mydiv {
  margin-top: 60px;

}
#mydiv:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#mydiv:hover .overlay {
  opacity: 1;
}


.container {
  overflow-x: hidden;
}

.jumbotron {
  color: #284738;
  background: #dce2df;
  margin-top: 60px;
}

