<div class="container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <img [src]="userProfile.profile_image.large" class="img-circle" alt="Cinque Terre" width="240" height="240">
      </div>
      <div class="col-md-8">
        <div class="details">
          <blockquote>
            <h3>{{ userProfile.username }}</h3>
            <small><cite title="Source Title">{{ userProfile.location}}<i class="icon-map-marker"></i></cite></small>
          </blockquote>
          <button type="button" class="btn btn-secondary">
            Following <span class="badge badge-light">{{ userProfile.following_count}}</span>
          </button>
          <button type="button" class="btn btn-secondary">
            Followers <span class="badge badge-light">{{ userProfile.followers_count}}</span>
          </button>
          <button type="button" class="btn btn-secondary">
            Likes <span class="badge badge-light">{{ userProfile.total_likes }}</span>
          </button>
          <p *ngIf="userProfile.instagram_username">
            <i class="fa fa-instagram" style="font-size:38px;"><a
              href="https://www.instagram.com/{{userProfile.instagram_username}}">
              {{ userProfile.instagram_username }}</a></i></p>
          <p *ngIf="userProfile.twitter_username">
            <i class="fa fa-twitter" style="font-size:38px;"><a
              href="https://twitter.com/{{userProfile.twitter_username}}">
              {{ userProfile.twitter_username }}</a></i>
          </p>
        </div>
        <p>{{ userProfile.bio }}</p>
      </div>
    </div>
  </div>

  <div id="mydiv" *ngFor="let photo of photos" class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
    <img [src]="photo.urls.regular" alt="Avatar" class="image">
    <div class="overlay">
      <div><span class="glyphicon glyphicon-heart"></span>{{ photo.likes }}</div>
    </div>
  </div>


</div>

