<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Mutterfly</a>
    </div>
    
    <div class="navbar-form navbar-left" >
      <div class="form-group">
          <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search">
          <button type="submit" class="searchbutton" (click)="search()"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>


